{% load static %}
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Notification Center">
	    <meta name="author" content="Cassie Zhang">

		<title>{{ theTitle }}</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" type="text/css"/>
		<script src="../../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="../../static/js/bootstrap.min.js" type="text/javascript"></script>

        {% block head %}
        {% endblock %}
	</head>
	<style>
	.trial-side {
		height: 55%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 80px;
		left: 130px;
		background-color: rgba(0, 0, 0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
		/*padding-top: 60px;*/
	}

	.trial-side a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: rgba(255, 255, 255, 0.7);
		display: block;
		transition: 0.3s;
	}

	.trial-side a:hover {
		color: rgba(255, 255, 255, 0.99);
	}

	.trial-side .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		/*padding-top: 78px;*/
	}

	@media screen and (max-height: 450px) {
		.trial-side {padding-top: 15px;}
		.trial-side a {font-size: 18px;}
	}

	</style>

	<body>
		<nav class="navbar navbar-fixed-top navbar-default" id="navbar">
			<div>
		  	<a class="navbar-brand" id="title">Savio Dashboard</a>
		  	</div>

		  	<div class="collapse navbar-collapse">
          		<ul class="nav navbar-nav navbar-right"  style="list-style-type: none;">
					<li><a href="http://research-it.berkeley.edu/programs/berkeley-research-computing" id="brc">
	                    <i class="pe-7s-science" id="back-brc-icon"></i><br>Back to BRC</a>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu">
	                    <i class="pe-7s-user" id="user-icon"></i><br>Account</a>

					<ul class="dropdown-menu navbar-right" id="menu-options">
						<li><a href="#">Switch Clusters</a></li>
					    <li><a href="../menu">Switch Accounts</a></li>
					    <li><a href="../faqs">FAQ's</a></li>
					    <li><a href="../settings">Settings</a></li>
					    <li><a href="../login">Logout</a></li>
					</ul>
				</ul>
			</div>
		</nav>

	    <div class="sidebar-nav" id="sidebar" >
	        <ul style="list-style-type: none;">
	            <!--li><a href="#" onclick="openNav()"><i class="pe-7s-bell"></i>Open Sidebar</a></li-->
	            <li><a href="#" onclick="openNav()"><i class="pe-7s-bell"></i><p>Notifications</a></p></li>
	            <li><a href="#" onclick="openNav()"><i class="pe-7s-graph2"></i><p>Statistics</a></p></li>
	            <li><a href="../quota_manager"><i class="pe-7s-users"></i><p>Quota Manager</a></p></li>
	            <li><a href="../su_calculator"><i class="pe-7s-calculator"></i><p>SU Calculator</a></p></li>
	            <li><a href="../faqs"><i class="pe-7s-help1"></i><p>FAQs</a></p></li>
	            <li><a href="../settings"><i class="pe-7s-settings"></i><p>Settings</a></p></li>
	        </ul>
	    </div>

	    <!--div class="sidebar-nav" id="sidebar2">
			<li><a href="../notifications">Notification Center</a></li>
			<li><a href="../personal_statistics">Statistics</a></li>
			<ul id="layer2">
				<li><a href="../personal_statistics">Personal Statistics</a></li>
				<li><a href="../account_statistics">Account Statistics</a></li>
					<ul id="layer3">
						<li><a href="../account_statistics">SU Usage</a></li>
						<li><a href="../account_statistics">Num. Jobs Submitted</a></li>
						<li><a href="../account_statistics">Num. Jobs Ended</a></li>
						<li><a href="../account_statistics">Jobs by Partition</a></li>
					</ul>
				<li><a href="../job_history">Job History</a></li>
			</ul>
			<li><a href="../quota_manager">Quota Manager</a></li>
			<li><a href="../su_calculator">SU Calculator</a></li>
			<li><a href="../faqs">FAQs</a></li>
			<li><a href="../settings">Settings</a></li>
		</div-->

		<div id="this-trial-side" class="trial-side" style="/*margin-left: 120px;*/">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<br>
			<a href="../notifications">Notification Center</a>
			<a href="../personal_statistics">Statistics</a>
			<a href="../account_statistics">Account Statistics</a>
			<ul>
				<li><a href="../account_statistics">SU Usage</a></li>
				<li><a href="../account_statistics">Num. Jobs Submitted</a></li>
				<li><a href="../account_statistics">Num. Jobs Ended</a></li>
				<li><a href="../account_statistics">Jobs by Partition</a></li>
			</ul>
		</div>

		<div id="thetitle"><h2>{{ theTitle }} </h2> </div>

		<div>
	        {% block body %}
            {% endblock %}
		</div>

	<script>

		function openNav() {
			document.getElementById("this-trial-side").style.width = "350px";
			//document.getElementById("this-trial-side").style["margin-left"] = "120px";
			//document.getElementById("this-trial-side").style["padding-top"] = "100px";
			document.body.style.backgroundColor = "rgba(0, 0, 0, 0.4)";
		}

		function closeNav() {
			document.getElementById("this-trial-side").style.width = "0";
			//document.getElementById("this-trial-side").style["margin-left"] = "0";
			//document.getElementById("this-trial-side").style["padding-top"] = "0";
			document.body.style.backgroundColor = "white";
		}

		$(document).ready(function(){
		    $("#sidebar").mouseenter(function () {

				console.log("\nEntering sidebar id\n");

		        /*$("#sidebar2").stop().toggle().toggleClass("open");*/
		    })

		    $("#sidebar2").mouseenter(function() {

				console.log("\nEntering sidebar2 id\n");

		    	/*$(this).animate({
		    		display: "block"
				})*/
		    }).mouseleave(function() {

				console.log("\nLeaving sidebar2 id\n");

			/*	if(!$(this).hasClass("open")) {

					console.log("\nhasClass(open)...\n");

            		$(this).stop(true, true).animate({
            			display: "none"
					})
				}
				else {
					console.log("\nno hasClass(open)...\n");

					$("#sidebar2").stop().toggle().toggleClass("open");
				}*/
		    });
		});
	</script>
	</body>
</html>
