.navbar-default {
	background-color: #24415D;
	background-image: none;
	background-repeat: no-repeat;
	max-height: 70px;
}

#title {
	padding-top: 25px;
	color: white;
	font-size: 40px;
	font-weight: 100;
}

#brc {
    color: white;
    margin-top: -10px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 200;
}

#menu {
    margin-top: -10px;
    margin-left: -20px;
    margin-right: 20px;
	max-height: 78px;
    color: white;
    font-size: 10px;
    font-weight: 200;
}

.dropdown-toggle:active, .open .dropdown-toggle {
	background: #24415D !important;
}

#user-icon {
	font-size: 40px;
}

#back-brc-icon {
	font-size: 40px;
}

#sidebar {
	padding-top: 73px;
	text-align: center;
	height: 100%;
	width: 120px;
	font-size: 10px;
	position: fixed;
	background-color: #92B4F2;
}

#sidebar a {
	color: #696969;
	margin-left: -40px;
}

#sidebar i {
	font-size: 40px;
}

#sidebar2 {
	padding-top: 80px;
    margin-left: 50px;
	height: 800px;
	width: 250px;
	font-size: 20px;
	display: none;
	list-style-type: none;
	height: 800px;
	border-right: 2px solid black;
}

#thetitle {
	font-weight: bold;
	padding-top: 60px;
	padding-left: 110px;
}

#sidebar2 li {
	margin-left: 40px;
	list-style-type: none;
}

#sidebar2 a {
	font-weight: 200;
	color: black;
	text-decoration: none;
}

#layer2 {
	margin-left: -10px;
	font-size: 18px;
}

#layer3 {
	margin-left: -10px;
	font-size: 16px;
}


/***********************************************************
 ** Set sidenav appearance
 ***********************************************************/

.trial-side {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.trial-side a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.trial-side a:hover {
	color: #f1f1f1;
}

.trial-side .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.trial-side {padding-top: 15px;}
	.trial-side a {font-size: 18px;}
}
